In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Formula_One_World_Drivers%27_Champions')[1]
full_disp= pd.options.display.max_columns=None
df.head(6)

    Season                  Driver Age  Constructor             Tyres Poles  \
    Season                  Driver Age      Chassis      Engine Tyres Poles
0     1950     Giuseppe Farina[18]  44   Alfa Romeo  Alfa Romeo     P     2
1     1951  Juan Manuel Fangio[19]  40   Alfa Romeo  Alfa Romeo     P     4
2  1952[a]      Alberto Ascari[21]  34      Ferrari     Ferrari   F P     5
3  1953[a]      Alberto Ascari[21]  35      Ferrari     Ferrari     P     6
4     1954  Juan Manuel Fangio[19]  43  Maserati[b]    Maserati     P     5
5     1954  Juan Manuel Fangio[19]  43  Mercedes[b]    Mercedes     C     5

  Wins Podiums F. Laps Points          % Points     Clinched  Margin % Margin
  Wins Podiums F. Laps Points          % Points     Clinched  Margin % Margin
0    3       3       3     30   83.333 (47.619)  Race 7 of 7       3   10.000
1    3       5       5     31   86.111 (51.389)  Race 8 of 8       6   19.355
2    6       6       6     36  100.000 (74.306)  Race 6 of 8      12   33.333
3    5       5       4   34.5   95.833 (57.764)  Race 8 of 9     6.5   18.841
4    6       7       3     42   93.333 (70.547)  Race 7 of 9  16.857   40.136
5    6       7       3     42   93.333 (70.547)  Race 7 of 9  16.857   40.136

In [3]:
df.columns= df.columns.get_level_values(1)
df = df.loc[:70, :]
df

,Season,Driver,Age,Chassis,Engine,Tyres,Poles,Wins,Podiums,F. Laps,Points,% Points,Clinched,Margin,% Margin
0,1950,Giuseppe Farina[18],44,Alfa Romeo,Alfa Romeo,P,2,3,3,3,30,83.333 (47.619),Race 7 of 7,3,10.000
1,1951,Juan Manuel Fangio[19],40,Alfa Romeo,Alfa Romeo,P,4,3,5,5,31,86.111 (51.389),Race 8 of 8,6,19.355
2,1952[a],Alberto Ascari[21],34,Ferrari,Ferrari,F P,5,6,6,6,36,100.000 (74.306),Race 6 of 8,12,33.333
3,1953[a],Alberto Ascari[21],35,Ferrari,Ferrari,P,6,5,5,4,34.5,95.833 (57.764),Race 8 of 9,6.5,18.841
4,1954,Juan Manuel Fangio[19],43,Maserati[b],Maserati,P,5,6,7,3,42,93.333 (70.547),Race 7 of 9,16.857,40.136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2015,Lewis Hamilton[49],30,Mercedes,Mercedes,P,11,10,17,8,381,80.211,Race 16 of 19,59,15.486
67,2016,Nico Rosberg[52],31,Mercedes,Mercedes,P,8,9,16,6,385,73.333,Race 21 of 21,5,1.299
68,2017,Lewis Hamilton[49],32,Mercedes,Mercedes,P,11,9,13,7,363,72.600,Race 18 of 20,46,12.672
69,2018,Lewis Hamilton[49],33,Mercedes,Mercedes,P,11,11,17,3,408,77.714,Race 19 of 21,88,21.569
70,2019,Lewis Hamilton[49],34,Mercedes,Mercedes,P,5,11,17,6,413,75.641,Race 19 of 21,87,21.065

In [4]:
df.drop(4,inplace=True)
df.reset_index(drop=True, inplace=True)

In [5]:
df.head(6)

,Season,Driver,Age,Chassis,Engine,Tyres,Poles,Wins,Podiums,F. Laps,Points,% Points,Clinched,Margin,% Margin
0,1950,Giuseppe Farina[18],44,Alfa Romeo,Alfa Romeo,P,2,3,3,3,30,83.333 (47.619),Race 7 of 7,3,10.000
1,1951,Juan Manuel Fangio[19],40,Alfa Romeo,Alfa Romeo,P,4,3,5,5,31,86.111 (51.389),Race 8 of 8,6,19.355
2,1952[a],Alberto Ascari[21],34,Ferrari,Ferrari,F P,5,6,6,6,36,100.000 (74.306),Race 6 of 8,12,33.333
3,1953[a],Alberto Ascari[21],35,Ferrari,Ferrari,P,6,5,5,4,34.5,95.833 (57.764),Race 8 of 9,6.5,18.841
4,1954,Juan Manuel Fangio[19],43,Mercedes[b],Mercedes,C,5,6,7,3,42,93.333 (70.547),Race 7 of 9,16.857,40.136
5,1955,Juan Manuel Fangio[19],44,Mercedes,Mercedes,C,3,4,5,3,40,88.889 (65.079),Race 6 of 7,16.5,41.250

In [6]:
df.rename(columns={'Chassis':'Constructor'}, inplace=True)

In [7]:
df['Country'] = df['Driver'].copy()
df.drop(columns=['Tyres','Poles','Wins','Podiums','F. Laps','Clinched','Margin','% Margin'], inplace=True)

In [8]:
df.columns

Index(['Season', 'Driver', 'Age', 'Constructor', 'Engine', 'Points',
       '% Points', 'Country'],
      dtype='object')

In [9]:
for col in df.columns:
    print(col, ':', df[col].unique())

Season : ['1950' '1951' '1952[a]' '1953[a]' '1954' '1955' '1956' '1957' '1958'
 '1959' '1960' '1961' '1962' '1963' '1964' '1965' '1966' '1967' '1968'
 '1969' '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978'
 '1979' '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987' '1988'
 '1989' '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998'
 '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008'
 '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018'
 '2019']
Driver : ['Giuseppe Farina[18]' 'Juan Manuel Fangio[19]' 'Alberto Ascari[21]'
 'Mike Hawthorn[22]' 'Jack Brabham[23]' 'Phil Hill[24]' 'Graham Hill[25]'
 'Jim Clark[26]' 'John Surtees[27]' 'Denny Hulme[28]' 'Jackie Stewart[29]'
 'Jochen Rindt[30]' 'Emerson Fittipaldi[31]' 'Niki Lauda[32]'
 'James Hunt[33]' 'Mario Andretti[34]' 'Jody Scheckter[35]'
 'Alan Jones[36]' 'Nelson Piquet[37]' 'Keke Rosberg[38]' 'Alain Prost[39]'
 'Ayrton Senna[40]' 'Nigel Mansell[41]' 'Michael Schumacher[42]'
 'Damon Hill[43]' 'Jacques Villeneuve[44]' 'Mika Häkkinen[46]'
 'Fernando Alonso[47]' 'Kimi Räikkönen[48]' 'Lewis Hamilton[49]'
 'Jenson Button[50]' 'Sebastian Vettel[51]' 'Nico Rosberg[52]']
Age : ['44' '40' '34' '35' '43' '45' '46' '29' '33' '27' '30' '31' '39' '28'
 '32' '25' '26' '38' '36' '24' '23']
Constructor : ['Alfa Romeo' 'Ferrari' 'Mercedes[b]' 'Mercedes' 'Maserati' 'Cooper' 'BRM'
 'Lotus' 'Brabham' 'Matra' 'Tyrrell' 'McLaren' 'Williams' 'Benetton'
 'Renault' 'Brawn' 'Red Bull']
Engine : ['Alfa Romeo' 'Ferrari' 'Mercedes' 'Maserati' 'Climax' 'BRM' 'Repco'
 'Ford' 'BMW' 'TAG' 'Honda' 'Renault']
Points : ['30' '31' '36' '34.5' '42' '40' '43' '34' '54' '51' '48' '63' '45' '62'
 '61' '71' '55' '64.5' '69' '72' '64' '67' '50' '44' '59' '73' '90' '76'
 '78' '96' '108' '99' '92' '102' '97' '81' '100' '123' '144' '93' '148'
 '133' '134' '110' '98' '95' '256' '392' '281' '397' '384' '381' '385'
 '363' '408' '413']
% Points : ['83.333 (47.619)' '86.111 (51.389)' '100.000 (74.306)' '95.833 (57.764)'
 '93.333 (70.547)' '88.889 (65.079)' '66.667 (45.833)' '88.889 (63.889)'
 '77.778 (49.495)' '68.889 (41.975)' '89.583 (53.750)' '75.556 (52.778)'
 '93.333 (64.198)' '100.000 (81.111)' '74.074 (44.444)' '100.000 (60.000)'
 '93.333 (55.556)' '62.963 (51.515)' '53.333 (44.444)' '77.778 (63.636)'
 '45.455 (38.462)' '76.543 (62.626)' '67.778 (56.481)' '60.684 (52.593)'
 '47.009 (40.741)' '59.722 (51.190)' '54.762 (47.917)' '53.333 (47.059)'
 '50.794 (44.444)' '70.833 (44.444)' '74.444 (56.349)' '50.505 (37.037)'
 '44.444 (30.556)' '59.596 (43.704)' '72.727 (50.000)' '73.737 (52.778)'
 '72.727 (51.389)' '90.909 (65.278)' '76.768 (56.250)' '78.788 (54.167)'
 '56.875' '67.500' '61.875' '57.500' '63.750' '60.625' '47.647' '62.500'
 '47.500' '63.529' '72.353' '84.706' '58.125' '82.222' '70.000' '74.444'
 '64.706' '54.444' '55.882' '53.895' '82.526' '56.200' '83.579' '76.800'
 '80.211' '73.333' '72.600' '77.714' '75.641']
Country : ['Giuseppe Farina[18]' 'Juan Manuel Fangio[19]' 'Alberto Ascari[21]'
 'Mike Hawthorn[22]' 'Jack Brabham[23]' 'Phil Hill[24]' 'Graham Hill[25]'
 'Jim Clark[26]' 'John Surtees[27]' 'Denny Hulme[28]' 'Jackie Stewart[29]'
 'Jochen Rindt[30]' 'Emerson Fittipaldi[31]' 'Niki Lauda[32]'
 'James Hunt[33]' 'Mario Andretti[34]' 'Jody Scheckter[35]'
 'Alan Jones[36]' 'Nelson Piquet[37]' 'Keke Rosberg[38]' 'Alain Prost[39]'
 'Ayrton Senna[40]' 'Nigel Mansell[41]' 'Michael Schumacher[42]'
 'Damon Hill[43]' 'Jacques Villeneuve[44]' 'Mika Häkkinen[46]'
 'Fernando Alonso[47]' 'Kimi Räikkönen[48]' 'Lewis Hamilton[49]'
 'Jenson Button[50]' 'Sebastian Vettel[51]' 'Nico Rosberg[52]']

In [10]:
df['Season']= df['Season'].apply(lambda x: x[:-3] if x.endswith('[a]') else x)
df['Driver']= df['Driver'].apply(lambda x: x[:-4])
df['Constructor']= df['Constructor'].apply(lambda x: x[:-3] if x.endswith('[b]') else x)
df['Country']= df['Country'].apply(lambda x: x[-4:])

In [11]:
df.head()

,Season,Driver,Age,Constructor,Engine,Points,% Points,Country
0,1950,Giuseppe Farina,44,Alfa Romeo,Alfa Romeo,30,83.333 (47.619),[18]
1,1951,Juan Manuel Fangio,40,Alfa Romeo,Alfa Romeo,31,86.111 (51.389),[19]
2,1952,Alberto Ascari,34,Ferrari,Ferrari,36,100.000 (74.306),[21]
3,1953,Alberto Ascari,35,Ferrari,Ferrari,34.5,95.833 (57.764),[21]
4,1954,Juan Manuel Fangio,43,Mercedes,Mercedes,42,93.333 (70.547),[19]

In [12]:
df['Country']= df['Country'].apply(lambda x: x[1:3])
df['Country']= df['Country'].astype(str).astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       70 non-null     object
 1   Driver       70 non-null     object
 2   Age          70 non-null     object
 3   Constructor  70 non-null     object
 4   Engine       70 non-null     object
 5   Points       70 non-null     object
 6   % Points     70 non-null     object
 7   Country      70 non-null     int32
dtypes: int32(1), object(7)
memory usage: 2.2+ KB

In [14]:
df.Country.unique()

array([18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52])

In [15]:
country_dict= {18: 'Italy', 19: 'Argentina', 21: 'Italy', 22: 'United Kingdom', 23: 'Australia', 24: 'United States of America', 25: 'United Kingdom', 26: 'United Kingdom', 27: 'United Kingdom', 28: 'New Zealand', 
             29: 'United Kingdom',30: 'Austria', 31: 'Brazil', 32: 'Austria', 33: 'United Kingdom', 34: 'United States of America', 35: 'South Africa', 36: 'Australia', 37: 'Brazil', 38: 'Finland',
             39: 'France', 40: 'Brazil', 41: 'United Kingdom', 42: 'Germany', 43: 'United Kingdom', 44: 'Canada', 46: 'Finland', 47: 'Spain', 48: 'Finland', 49: 'United Kingdom',
             50: 'United Kingdom', 51: 'Germany',52: 'Germany'}

In [16]:
df['Country']=df['Country'].replace(country_dict)

In [17]:
df['% Points'] = df['% Points'].apply(lambda x: x.split(" ")[0])

In [18]:
df['% Points']=df['% Points'].astype(str).astype(float)
df['% Points']=df['% Points'].round(decimals=2)

In [19]:
df['Age']=df['Age'].astype(str).astype(int)

In [20]:
df.head(6)

,Season,Driver,Age,Constructor,Engine,Points,% Points,Country
0,1950,Giuseppe Farina,44,Alfa Romeo,Alfa Romeo,30,83.33,Italy
1,1951,Juan Manuel Fangio,40,Alfa Romeo,Alfa Romeo,31,86.11,Argentina
2,1952,Alberto Ascari,34,Ferrari,Ferrari,36,100.00,Italy
3,1953,Alberto Ascari,35,Ferrari,Ferrari,34.5,95.83,Italy
4,1954,Juan Manuel Fangio,43,Mercedes,Mercedes,42,93.33,Argentina
5,1955,Juan Manuel Fangio,44,Mercedes,Mercedes,40,88.89,Argentina

In [21]:
#df.to_csv('Formula1_gross.csv', index=False)